SmartFactory.WinApp/Connected Services/ServiceRef/MachineService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62103/MachineService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmartFactory.Models" />
  <xs:element name="GetCurrentSensors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentSensorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmartFactory.Models" minOccurs="0" name="GetCurrentSensorsResult" nillable="true" type="q1:ArrayOfSensorData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRules">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmartFactory.Models" minOccurs="0" name="GetAllRulesResult" nillable="true" type="q2:ArrayOfMachineRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmartFactory.Models" minOccurs="0" name="newRule" nillable="true" type="q3:MachineRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewRuleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>