SmartFactory.Client/Connected Services/ServiceRef/MachineService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MachineService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62103/MachineService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62103/MachineService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62103/MachineService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmartFactory.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMachineService_GetCurrentSensors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentSensors" />
  </wsdl:message>
  <wsdl:message name="IMachineService_GetCurrentSensors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentSensorsResponse" />
  </wsdl:message>
  <wsdl:message name="IMachineService_GetAllRules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRules" />
  </wsdl:message>
  <wsdl:message name="IMachineService_GetAllRules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRulesResponse" />
  </wsdl:message>
  <wsdl:message name="IMachineService_CreateNewRule_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewRule" />
  </wsdl:message>
  <wsdl:message name="IMachineService_CreateNewRule_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewRuleResponse" />
  </wsdl:message>
  <wsdl:portType name="IMachineService">
    <wsdl:operation name="GetCurrentSensors">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachineService/GetCurrentSensors" message="tns:IMachineService_GetCurrentSensors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachineService/GetCurrentSensorsResponse" message="tns:IMachineService_GetCurrentSensors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRules">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachineService/GetAllRules" message="tns:IMachineService_GetAllRules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachineService/GetAllRulesResponse" message="tns:IMachineService_GetAllRules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewRule">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachineService/CreateNewRule" message="tns:IMachineService_CreateNewRule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachineService/CreateNewRuleResponse" message="tns:IMachineService_CreateNewRule_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMachineService" type="tns:IMachineService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentSensors">
      <soap:operation soapAction="http://tempuri.org/IMachineService/GetCurrentSensors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRules">
      <soap:operation soapAction="http://tempuri.org/IMachineService/GetAllRules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewRule">
      <soap:operation soapAction="http://tempuri.org/IMachineService/CreateNewRule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MachineService">
    <wsdl:port name="BasicHttpBinding_IMachineService" binding="tns:BasicHttpBinding_IMachineService">
      <soap:address location="http://localhost:62103/MachineService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>