SmartFactory.Client/Connected Services/ServiceRef/MachineService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmartFactory.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmartFactory.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSensorData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SensorData" nillable="true" type="tns:SensorData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSensorData" nillable="true" type="tns:ArrayOfSensorData" />
  <xs:complexType name="SensorData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataHora" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Polo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SensorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SensorData" nillable="true" type="tns:SensorData" />
  <xs:complexType name="ArrayOfMachineRule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MachineRule" nillable="true" type="tns:MachineRule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMachineRule" nillable="true" type="tns:ArrayOfMachineRule" />
  <xs:complexType name="MachineRule">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionCommand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConditionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="RuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetSensorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThresholdValue" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MachineRule" nillable="true" type="tns:MachineRule" />
</xs:schema>